html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: "Arial", "Liberation Sans", "FreeSans", "sans-serif";
}

h4 {
    font-weight: bold;
}

ol, ul, li {
    list-style: outside none none;
}

input.form-control,
textarea.form-control {
    font-family: monospace;
    font-size: 8pt;
}

/* navbar */
.navbar .navbar-header a.navbar-brand {
    padding: 2px;
}
.navbar .navbar-collapse a.navbar-brand {
    padding: 5px;
}

.navbar .navbar-header a.navbar-brand img,
.navbar .navbar-collapse a.navbar-brand img {
    height: 40px;
}

.navbar .navbar-header a.navbar-brand h3 {
    margin: -15px 0px 0px 100px;
    padding: 0px;
    font-size: 8pt;
    color: #FFF;
}

.white {
    color: #FFF;
}

.media .media-left {
    font-size: 16px;
}

/* map */
#map {
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/* controls */
.leaflet-bar a,
.leaflet-bar a:hover,
.leaflet-bar button,
.leaflet-bar button:hover {
    background-color: #000;
    color: #FFF;
}

.leaflet-bar a.leaflet-disabled {
    background-color: #4d4d4d;
}

.leaflet-control-layers {
    background-color: #000;
    color: #FFF;
}

.leaflet-control-layers-toggle {
    background-image: url("../img/map-o.png");
    background-color: #000;
}

.leaflet-top.leaflet-right {
    margin-top: 50px;
}

/* fuse search */
.leaflet-fusesearch-control .button {
    background-image: url("../img/search.png");
    background-color: #000;
}

.leaflet-fusesearch-panel {
    top: 50px;
    height: calc(100% - 50px);
    height: -moz-calc(100% - 50px);
    height: -webkit-calc(100% - 50px);
}

.leaflet-fusesearch-panel .header {
    height: 46px;
}

.leaflet-fusesearch-panel .search-image {
    top: 5px;
    width: 25px;
    height: 26px;
    background-image: url("../img/search_1.png");
    background-size: 25px 26px;
}

.leaflet-fusesearch-panel input.search-input {
    top: 5px;
    left: 5px;
    width: 80%;
    height: 26px;
}

.leaflet-fusesearch-panel p.result-item {
    cursor: pointer;
}

/* sidebar */
#sidebar {
    bottom: 0px;
    left: 0px;
    position: absolute;
    width: 185px;
    z-index: 10;
}

#sidebar #categories {
    margin: 0px 0px 10px 10px;
    padding: 0px;
    background-color: #000;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.65);
    font-size: 8pt;
}

#sidebar #categories li {
    border-bottom: 1px solid #CCC;
}

#sidebar #categories li.category {
    background-color: #CCC;
}

#sidebar #categories li > input[type=checkbox] {
    margin: 0px 3px 0px 5px;
    cursor: pointer;
}

#sidebar #categories li:first-child > input[type=checkbox] {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

#sidebar #categories li > span {
    display: inline-block;
    height: 35px;
    padding-top: 10px;
    padding-left: 5px;
    color: #FFF;
}

#sidebar #categories li > span.category {
    margin: 0px 0px 0px 5px;
    padding: 0px;
    height: auto;
    color: inherit;
}

#sidebar #categories li > img {
    height: 25px;
    width: 22px;
    margin: 5px 5px 5px 0px;
}

/* tooltip */
.tooltip {
    min-width: 200px;
    font-family: "Arial", "Liberation Sans", "FreeSans", "sans-serif";
    font-size: 8pt;
}

/* modal */
#modal-form {
    z-index: 9999;
}

.modal .modal-body img.img-responsive {
    margin: 0px auto;
    padding: 10px 0px;
}

/* table */
.table th {
    width: 25%;
}

/* markercluster */
.marker-cluster-poi-1,
.marker-cluster-poi-1 div {
    background-color: rgba(247, 117, 30, 0.6);
}

.marker-cluster-poi-2,
.marker-cluster-poi-2 div {
    background-color: rgba(230, 18, 216, 0.6);
}

.marker-cluster-poi-3,
.marker-cluster-poi-3 div {
    background-color: rgba(68, 171, 17, 0.6);
}

.marker-cluster-poi-4,
.marker-cluster-poi-4 div {
    background-color: rgba(165, 230, 43, 0.6);
}

.marker-cluster-poi-5,
.marker-cluster-poi-5 div {
    background-color: rgba(230, 214, 43, 0.6);
}

.marker-cluster-poi-6,
.marker-cluster-poi-6 div {
    background-color: rgba(17, 150, 222, 0.6);
}

.marker-cluster-poi-7,
.marker-cluster-poi-7 div {
    background-color: rgba(242, 100, 128, 0.6);
}

.marker-cluster-poi-8,
.marker-cluster-poi-8 div {
    background-color: rgba(209, 195, 39, 0.6);
}

.marker-cluster-poi-9,
.marker-cluster-poi-9 div {
    background-color: rgba(240, 58, 45, 0.6);
}

/* responsive */
@media screen and (max-width: 480px) and (orientation:portrait) {
    .navbar .navbar-header a.navbar-brand {
        padding: 10px;
    }

    .navbar .navbar-header a.navbar-brand img {
        height: 30px;
    }

    .navbar .navbar-header a.navbar-brand h3 {
        display: none;
    }
}

@media screen and (max-width: 640px) and (orientation:landscape) {
    #sidebar #categories li > a img {
        margin: 0px;
    }
}

@media screen and (max-width: 767px) {
    .leaflet-bottom.leaflet-right {
        width: 60%;
        text-align: right;
    }

    .leaflet-container .leaflet-control-attribution {
        font-size: 7pt;
    }

    #sidebar {
        width: 47px;
    }

    #sidebar #categories {
        margin: 0px;
    }

    #sidebar #categories li:first-child,
    #sidebar #categories li.category {
        display: none;
    }

    #sidebar #categories li > input[type="checkbox"] {
        margin: 0px 2px 0px 2px;
    }

    #sidebar #categories li > a span {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .tooltip.right {
        left: 200px !important;
    }
}
