html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

h3 {
    font-weight: bold;
}

ol, ul, li {
    list-style: outside none none;
}

#header {
    width: 100%;
    position: absolute;
    z-index: 10;
    height: 80px;
    background: rgba(3, 3, 3, 0.80) none repeat scroll 0% 0%;
}

/* branding */
#header .branding {
    float: left;
    margin: 10px;
}

#header .branding .logo {
    float: left;
    position: absolute;
}

#header .branding h3 {
    margin-left: 130px;
    margin-top: 40px;
    max-width: 280px;
    color: #FFF;
    font-size: 8pt;
}

/* search */
#header .search-form {
    float: left;
    margin: 23px 0px 23px 20px;
}

#header .search-form button {
    padding: 6px 12px;
    margin: 0px;
    color: #FFF;
    background-color: #232323;
}

#header .search-form button:hover {
    background-color: #4d4d4d;
}

/* navigation */
#header .navigation-bar {
    float: right;
    margin: 13px 0px;
}

#header .navigation-bar > div {
    margin: 10px;
}

/* map */
#map {
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/* controls */
.leaflet-bar a,
.leaflet-bar a:hover {
    background-color: #000;
    color: #FFF;
}

.leaflet-bar a.leaflet-disabled {
    background-color: #4d4d4d;
}

.leaflet-control-layers {
    background-color: #000;
    color: #FFF;
}

.leaflet-control-layers-toggle {
    background-image: url("../img/map-o.png");
    background-color: #000;
}

.leaflet-top.leaflet-right {
    margin-top: 80px;
}

/* sidebar */
#sidebar {
    bottom: 0px;
    left: 0px;
    position: absolute;
    width: 195px;
    z-index: 10;
}

#sidebar #categories {
    margin: 0px 0px 10px 10px;
    padding: 0px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.65);
}

#sidebar #categories li {
    border-bottom: 1px solid #CCC;
}
#sidebar #categories li:last-child {
    border-bottom: none;
}

#sidebar #categories li > span,
#sidebar #categories li > a {
    display: block;
    background-color: #000;
    color: #FFF;
    text-decoration: none;
    font-size: 8pt;
}

#sidebar #categories li a#poi-1:hover {
    background-color: #f7751e;
}
#sidebar #categories li a#poi-2:hover {
    background-color: #e612d8;
}
#sidebar #categories li a#poi-3:hover {
    background-color: #44ab11;
}
#sidebar #categories li a#poi-4:hover {
    background-color: #a5e62b;
}
#sidebar #categories li a#poi-5:hover {
    background-color: #e6d62b;
}
#sidebar #categories li a#poi-6:hover {
    background-color: #1196de;
}
#sidebar #categories li a#poi-7:hover {
    background-color: #f26480;
}
#sidebar #categories li a#poi-8:hover {
    background-color: #d1c327;
}

#sidebar #categories li > span {
    height: 35px;
    padding-top: 10px;
    padding-left: 5px;
}

#sidebar #categories li a img {
    height: 25px;
    width: 25px;
    margin: 5px;
}

/* modal */
.modal .modal-body p.img {
    text-align: center;
}

/* table */
.table {
    margin-bottom: 0px;
}

/* markercluster */
.marker-cluster-poi-1,
.marker-cluster-poi-1 div {
    background-color: rgba(247, 117, 30, 0.6);
}

.marker-cluster-poi-2,
.marker-cluster-poi-2 div {
    background-color: rgba(230, 18, 216, 0.6);
}

.marker-cluster-poi-3,
.marker-cluster-poi-3 div {
    background-color: rgba(68, 171, 17, 0.6);
}

.marker-cluster-poi-4,
.marker-cluster-poi-4 div {
    background-color: rgba(165, 230, 43, 0.6);
}

.marker-cluster-poi-5,
.marker-cluster-poi-5 div {
    background-color: rgba(17, 150, 222, 0.6);
}

/* responsive */
@media screen and (max-width: 320px) {

    #sidebar {
        width: 42px !important;
    }

    #sidebar #categories li a img {
        height: 22px;
        width: 22px;
    }

}

@media screen and (max-width: 639px) {

    #header .search-form {
        display: none;
    }

    .leaflet-bottom.leaflet-right {
        width: 60%;
        text-align: right;
    }

    .leaflet-container .leaflet-control-attribution {
        font-size: 7pt;
    }

    #sidebar {
        width: 45px;
    }

    #sidebar #categories li:first-child {
        display: none;
    }

    #sidebar #categories li a span {
        display: none;
    }

}

@media screen and (max-width: 767px) {

    #header {
        height: 40px;
    }

    #header .branding {
        margin: 5px;
    }

    #header .branding .logo {
        height: 70%;
    }

    #header .branding h3 {
        display: none;
    }

    #header .search-form {
        margin: 7px 0px 0px 170px;
    }

    #header .search-form input.form-control {
        height: 25px;
    }

    #header .search-form button {
        padding: 2px 12px;
    }

    #header .navigation-bar {
        margin: 5px 0px;
    }

    #header .navigation-bar > div {
        margin: 0px 5px 0px 0px;
    }

    #header .navigation-bar > div a.btn {
        padding: 2px 12px;
    }

    .leaflet-top.leaflet-right {
        margin-top: 40px;
    }

}

@media screen and (max-width: 800px) {

    #header .nav-title {
        display: none;
    }

}
